In [49]:
import pandas as pd
import numpy as np

In [50]:
df_DAL = pd.read_csv("DAL_player_sl.csv")
df_LAL = pd.read_csv("LAL_player_sl.csv")
df_GSW = pd.read_csv("GSW_player_sl.csv")
print(df_GSW)

    selected                 Player Pos  Fantasy_point  Time_limit
0          1         Andre Iguodala   G           3.67       20.53
1          1         Andrew Wiggins   F           2.48       32.27
2          1          Chris Chiozza   G           2.04       19.50
3          1             Damion Lee   G           2.01       24.00
4          1         Draymond Green   F           4.14       30.13
5          1         Gary Payton II   G           2.52       15.90
6          0            Jeff Dowtin   G          -0.59       22.10
7          1       Jonathan Kuminga   C          -0.24       19.90
8          1           Jordan Poole   G           2.38       23.50
9          0  Juan Toscano-Anderson   F           0.19       18.53
10         1           Kevon Looney   C           1.19       16.90
11         0            Moses Moody   G          -0.12       21.10
12         1        Nemanja Bjelica   C           4.26       19.70
13         1        Otto Porter Jr.   F           3.40       20.83
14         1          Stephen Curry   G           4.30       31.90

In [51]:
df = df_GSW.iloc[:,:]

In [52]:
df = df.drop([6,9,11])
df.reset_index(drop=True, inplace=True)
df

    selected            Player Pos  Fantasy_point  Time_limit
0          1    Andre Iguodala   G           3.67       20.53
1          1    Andrew Wiggins   F           2.48       32.27
2          1     Chris Chiozza   G           2.04       19.50
3          1        Damion Lee   G           2.01       24.00
4          1    Draymond Green   F           4.14       30.13
5          1    Gary Payton II   G           2.52       15.90
6          1  Jonathan Kuminga   C          -0.24       19.90
7          1      Jordan Poole   G           2.38       23.50
8          1      Kevon Looney   C           1.19       16.90
9          1   Nemanja Bjelica   C           4.26       19.70
10         1   Otto Porter Jr.   F           3.40       20.83
11         1     Stephen Curry   G           4.30       31.90

In [53]:
z = []
p = []
for i in range(len(df)):
    if df.iloc[i,2] == 'G':
        z.append([1,0,0])
        p.append([min(df.iloc[i,4]*1.5,48),0,0])
    elif df.iloc[i,2] == 'F':
        z.append([0,1,0])
        p.append([0,min(df.iloc[i,4]*1.5,48),0])
    else: 
        z.append([0,0,1])
        p.append([0,0,min(df.iloc[i,4]*1.5,48)])

In [54]:
F = df["Fantasy_point"].to_list()

In [55]:
print(F)
print("z:",z,"\n")
print("p:",p)

[3.67, 2.48, 2.04, 2.01, 4.14, 2.52, -0.24, 2.38, 1.19, 4.26, 3.4, 4.3]
z: [[1, 0, 0], [0, 1, 0], [1, 0, 0], [1, 0, 0], [0, 1, 0], [1, 0, 0], [0, 0, 1], [1, 0, 0], [0, 0, 1], [0, 0, 1], [0, 1, 0], [1, 0, 0]]

p: [[30.795, 0, 0], [0, 48, 0], [29.25, 0, 0], [36.0, 0, 0], [0, 45.195, 0], [23.85, 0, 0], [0, 0, 29.849999999999998], [35.25, 0, 0], [0, 0, 25.349999999999998], [0, 0, 29.549999999999997], [0, 31.244999999999997, 0], [47.849999999999994, 0, 0]]

In [56]:
# separate data into 3 groups based on the position
# z_gp1 = []
# z_gp2 = []
# z_gp3 = []
p_gp1 = []
p_gp2 = []
p_gp3 = []
no_gp1 = []
no_gp2 = []
no_gp3 = []
F_gp1 = []
F_gp2 = []
F_gp3 = []
s_gp1 = []
s_gp2 = []
s_gp3 = []
for i in range(len(df)):
    if df.iloc[i,2] == 'G':

        no_gp1.append(i+1)
        F_gp1.append(F[i])
        if F[i] >= 0:
            s_gp1.append(F[i]/(df.iloc[i,4]*1.5))
        else:
            s_gp1.append(0.2)
    elif df.iloc[i,2] == 'F':
 
        no_gp2.append(i+1) 
        F_gp2.append(F[i])
        if F[i] >= 0:
            s_gp2.append(F[i]/(df.iloc[i,4]*1.5))
        else:
            s_gp2.append(0.2)
    else:

        no_gp3.append(i+1)
        F_gp3.append(F[i])
        if F[i] >= 0:
            s_gp3.append(F[i]/(df.iloc[i,4]*1.5))
        else:
            s_gp3.append(0.2)

print("no:",no_gp1,"\t",no_gp2,"\t",no_gp3,"\n")
print("F:",F_gp1,"\t",F_gp2,"\t",F_gp3,"\n")
print("s:",s_gp1,"\t",s_gp2,"\t",s_gp3,"\n")

no: [1, 3, 4, 6, 8, 12] 	 [2, 5, 11] 	 [7, 9, 10]

F: [3.67, 2.04, 2.01, 2.52, 2.38, 4.3] 	 [2.48, 4.14, 3.4] 	 [-0.24, 1.19, 4.26]

s: [0.11917519077772365, 0.06974358974358974, 0.055833333333333325, 0.10566037735849056, 0.0675177304964539, 0.08986415882967608] 	 [0.05123437661398616, 0.09160305343511449, 0.10881741078572572] 	 [0.2, 0.04694280078895464, 0.14416243654822336]

In [57]:
# take center as an example
# improved 1
I = 48
pos = []
reward = 0
for t in range(I):
    choose = 0
    opt = -10000
    for i in range(len(F_gp3)):
        if opt < F_gp3[i]:
            opt = F_gp3[i]
            choose = i
    pos.append(no_gp3[choose])
    F_gp3[choose] = F_gp3[choose] - s_gp3[choose]
    reward = reward + opt
print(reward)
print(pos)

79.6674668348701
[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 9, 9, 9, 10, 9, 9, 9, 10, 9, 9, 9, 10, 9, 9, 9, 10, 9, 9, 9, 10, 9, 9, 9, 10, 9, 9]

In [58]:
# take forward as an example
# improved 1
I = 48
pos2 = []

reward = 0
for t in range(I):
    choose = [0, 0]
    opt = -10000
    for i in range(len(F_gp2)):
        for j in range(i+1, len(F_gp2)):
            if opt < F_gp2[i]+F_gp2[j]:
                opt = F_gp2[i]+F_gp2[j]
                choose = [i,j]   
    pos2.append([no_gp2[choose[0]],no_gp2[choose[1]]])
    F_gp2[choose[0]] = F_gp2[choose[0]] - s_gp2[choose[0]]
    F_gp2[choose[1]] = F_gp2[choose[1]] - s_gp2[choose[1]]  
    reward = reward + opt
print(reward)
print(pos2)

200.1046578960497
[[5, 11], [5, 11], [5, 11], [5, 11], [5, 11], [5, 11], [5, 11], [5, 11], [5, 11], [2, 5], [2, 5], [5, 11], [2, 5], [2, 5], [5, 11], [2, 5], [2, 5], [5, 11], [2, 5], [2, 5], [5, 11], [2, 5], [2, 5], [5, 11], [2, 5], [2, 11], [2, 5], [2, 11], [2, 5], [2, 5], [2, 11], [2, 5], [2, 11], [2, 5], [2, 11], [2, 5], [2, 11], [2, 5], [2, 11], [2, 5], [2, 5], [2, 11], [2, 5], [2, 11], [2, 5], [2, 11], [2, 5], [2, 11]]

In [59]:
# take guard as an example
# improved 1
I = 48
pos3 = []

reward = 0
for t in range(I):
    choose = [0, 0]
    opt = -10000
    for i in range(len(F_gp1)):
        for j in range(i+1, len(F_gp1)):
            if opt < F_gp1[i]+F_gp1[j]:
                opt = F_gp1[i]+F_gp1[j]
                choose = [i,j]   
    pos3.append([no_gp1[choose[0]],no_gp1[choose[1]]])
    F_gp1[choose[0]] = F_gp1[choose[0]] - s_gp1[choose[0]]
    F_gp1[choose[1]] = F_gp1[choose[1]] - s_gp1[choose[1]]  
    reward = reward + opt
print(reward)
print(pos3)

226.3513828034931
[[1, 12], [1, 12], [1, 12], [1, 12], [1, 12], [1, 12], [1, 12], [1, 12], [1, 12], [1, 12], [6, 12], [1, 12], [6, 12], [8, 12], [1, 12], [8, 12], [6, 12], [8, 12], [1, 12], [6, 12], [8, 12], [1, 12], [8, 12], [6, 12], [8, 12], [3, 12], [1, 4], [6, 8], [3, 12], [4, 8], [3, 4], [1, 6], [4, 12], [3, 8], [4, 12], [6, 8], [1, 3], [4, 8], [3, 12], [4, 6], [1, 8], [3, 4], [8, 12], [4, 6], [1, 3], [4, 12], [3, 8], [4, 6]]